@import url("https://use.typekit.net/sso3kkk.css");
*{
    font-family: "address-sans-pro", sans-serif;
}

body{
    margin: 0;
    /* placeholder bg */
    background-image: url(../assets/other_assets/val_scorebug/Fade\ A\ post\ for\ tree.png);
    background-repeat: no-repeat;
}
.svgContainer{
    margin: 75px;
    z-index: 1;
    position: relative;
}
.nameContainer{
    z-index: 2;
    position: absolute;
    top: 58px;
    left: 690px;
}
h1{
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
/* svgs */
#leftScore{
    margin-left: 680px;
    margin-right: 75px;
}

#boxNameL,#boxNameR{
    width: 160px;
    text-align: center;
    display: inline-block;
    margin: 55px;
    margin-top: 0;
}

#lBody{
    fill: #000FFF;
}
#rBody{
    fill: #ff7b00;
}
.timeout{
    fill: #fcff36;
}
.scoreBox{
    fill: rgb(255, 255, 255);
}

text{
    fill: #000000;
    font-size: xx-large;
}